<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete User</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/create">Create User</a>
    </div>
    <div class="form">
      <form action="/delete-user" method="POST">
        <fieldset>
          <legend>Delete a user:</legend>
          <div class="input-group">
            <label>Are you sure delete user with Email:</label>
            <input
              type="hidden"
              id="userId"
              name="userId"
              value="<%=userEdit.id%>"
            />
            <input
              type="text"
              id="email"
              name="email"
              value="<%=userEdit.email%>"
            />
          </div>

          <div class="input-group">
            <button>Confirm</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
