<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit User</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="topnav">
      <a href="/">Home</a>
      <a href="/create">Create User</a>
    </div>
    <div class="form">
      <form action="/update-user" method="POST">
        <fieldset>
          <legend>Edit a user:</legend>
          <input
            type="hidden"
            id="userId"
            name="userId"
            value="<%=userEdit.id%>"
          />
          <div class="input-group">
            <label>Email:</label>
            <input
              type="text"
              id="email"
              name="email"
              value="<%=userEdit.email%>"
            />
          </div>
          <div class="input-group">
            <label>Name:</label>
            <input
              type="text"
              id="myname"
              name="myname"
              value="<%=userEdit.name%>"
            />
          </div>
          <div class="input-group">
            <label>City:</label>
            <input
              type="text"
              id="city"
              name="city"
              value="<%=userEdit.city%>"
            />
          </div>
          <div class="input-group">
            <button>Save</button>
          </div>
        </fieldset>
      </form>
    </div>
  </body>
</html>
