<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/create">Create User</a>
    </div>

    <h1>List User</h1>

    <table id="customers">
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Name</th>
        <th>City</th>
        <th>Actions</th>
      </tr>
      <% listUsers.forEach(function(user){%>
      <tr>
        <td><%=user.id %></td>
        <td><%=user.email %></td>
        <td><%=user.name %></td>
        <td><%=user.city %></td>
        <td>
          <button>Edit</button>
          <button>Delete</button>
        </td>
      </tr>
      <% });%>
    </table>
  </body>
</html>
